In [3]:
import pandas as pd

#verimize bakalım
df = pd.DataFrame({
    "A":["0,3", "3,4", "8,4"],
    "B": ["1,2", "6,4", "3,1"],
    "C": ["a","b","c"]
})
df

     A    B  C
0  0,3  1,2  a
1  3,4  6,4  b
2  8,4  3,1  c

In [4]:
#A ve B deki değerleri nokta ile
#ayrılmış tamsayıya çevirmek istiyoruz
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      object
 1   B       3 non-null      object
 2   C       3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [5]:
#ayrıca veritipi de object
#fonksiyonumuzu tanımlayalım
def convert_float(series):
    """
    değerlere ve indekslerine
    erişebilmek için for döngüsü
    """
    for count, i  in enumerate(series):
        """
        eksik verilerin hata
        vermesini önlemek için 
        try, except
        """

        try:
            """
            virgül ile ayırıp sağ ve
            sol kısmı değişkene atamak
            """
            a,b = map(str, i.split(","))

            """iki kısmı birleştirmek"""
            a = a + '.'+ b
            i = a

            """serideki değerleri
            değiştirmek
            """
            series[count] = a

            """
            değerleri floata çevirmek
            """
            series = \
                series.astype(float,
                 errors = 'raise')

            return series

        except:
            pass

"""
şimdi kolonlarımızı fonksiyona 
yollayalım
"""
df["A"], df["B"], =\
     convert_float(df["A"]),\
      convert_float(df["B"])

In [6]:
df

     A    B  C
0  0.3  1.2  a
1  3.4  6.4  b
2  8.4  3.1  c

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       3 non-null      object
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

In [ ]:
"""
gördüğünüz gibi değerler dönüştürüldü ve
veritipi olarak float64 oldu

bütün videolarımda kullandığım 
notebook ları videoların açıklama
kısmında bulabilirsiniz

izlediğiniz için teşekkürler
"""