In [1]:
#pip install Jinja2
import pandas as pd

In [2]:
#bir df tanımlayıp yazdıralım
df = pd.DataFrame({"col1": [23, -2, 3, -8],
                    "col2": [3, 6, -5, -2]})

df

   col1  col2
0    23     3
1    -2     6
2     3    -5
3    -8    -2

In [3]:
#deger sıfırdan küçükse sarı,
#büyükse kırmızı gözüksün
def renk_degistir(deger):
    color = "yellow" if deger < 0 else "red"
    return "color: %s" % color

#uygulayalım
df.style.applymap(renk_degistir)

In [4]:
#arka planı renklendirelim
df.style.set_table_styles(
[{"selector":"tr:hover",
    "props": [("background-color", "purple")]


}]
)